# Question.1

## What is a database? Differentiate between SQL and NoSQL databases.

###  Ans: A database is a structured collection of data that is organized and stored in a computer system. It allows users to efficiently store, retrieve, update, and manage large amounts of data.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two different types of database management systems with distinct characteristics:

SQL Databases:
- SQL databases are based on the relational model and use structured query language (SQL) for defining and manipulating the data.
- They have a predefined schema that determines the structure of the data and the relationships between different tables.
- SQL databases are suitable for structured data with well-defined relationships, such as financial data, customer information, or inventory management.
- They provide ACID (Atomicity, Consistency, Isolation, Durability) properties, ensuring data integrity and transactional support.
- Examples of SQL databases include MySQL, PostgreSQL, Oracle, and Microsoft SQL Server.

NoSQL Databases:
- NoSQL databases are designed for handling unstructured and semi-structured data, as well as large-scale data sets.
- They do not rely on a fixed schema, allowing for flexible and dynamic data models.
- NoSQL databases are horizontally scalable, meaning they can handle high volumes of data and traffic by distributing the load across multiple servers.
- They are suitable for handling big data, real-time data, and scenarios where data structures can change frequently, such as social media feeds or sensor data.
- NoSQL databases provide high availability and partition tolerance (part of the CAP theorem), sacrificing some level of consistency.
- Examples of NoSQL databases include MongoDB, Cassandra, Redis, and Amazon DynamoDB.

In summary, SQL databases are best suited for structured data with predefined relationships and support complex querying, while NoSQL databases are designed for flexible, unstructured or semi-structured data and prioritize scalability and high availability. The choice between SQL and NoSQL depends on the specific requirements of the application and the nature of the data being managed.

# Question.2

## What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

### Ans: DDL stands for Data Definition Language, and it is a subset of SQL (Structured Query Language) used for defining and managing the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, indexes, and views.

Here's an explanation of the commonly used DDL statements:

1. CREATE: The CREATE statement is used to create new database objects, such as tables, views, indexes, or schemas. It specifies the name of the object, its columns (for tables), and other properties. For example, to create a table named "Employees" with columns for ID, name, and age, you would use the following CREATE statement:

   ```sql
   CREATE TABLE Employees (
       ID INT,
       Name VARCHAR(50),
       Age INT
   );
   ```

2. DROP: The DROP statement is used to remove or delete existing database objects. It permanently deletes the specified object and its associated data. For example, to delete the "Employees" table created earlier, you would use the DROP statement as follows:

   ```sql
   DROP TABLE Employees;
   ```

3. ALTER: The ALTER statement is used to modify the structure of an existing database object. It allows you to add, modify, or delete columns, constraints, or other properties of a table. For example, to add a new column named "Salary" to the "Employees" table, you would use the ALTER statement:

   ```sql
   ALTER TABLE Employees
   ADD Salary DECIMAL(10,2);
   ```

4. TRUNCATE: The TRUNCATE statement is used to delete all data from a table while keeping the table structure intact. It is faster and less resource-intensive than the DROP statement, as it only removes the data and resets the table. For example, to remove all data from the "Employees" table, you would use the TRUNCATE statement:

   ```sql
   TRUNCATE TABLE Employees;
   ```

These DDL statements provide the necessary tools to define and manage the structure of a database. They allow you to create new objects, delete existing ones, modify object structures, and clear data from tables, enabling efficient database management and schema evolution.

# Question:3

## What is DML? Explain INSERT, UPDATE, and DELETE with an example.

### Ans: DML stands for Data Manipulation Language, and it is a subset of SQL (Structured Query Language) used for manipulating or changing data within a database. DML statements are used to insert, update, and delete data from tables.

Here's an example of a program that demonstrates the usage of INSERT, UPDATE, and DELETE statements:

```sql
-- Assume we have a table named "Customers" with columns: CustomerID, Name, and Email

-- INSERT statement to add a new customer
INSERT INTO Customers (CustomerID, Name, Email)
VALUES (1, 'John Doe', 'johndoe@example.com');

-- UPDATE statement to modify an existing customer's email
UPDATE Customers
SET Email = 'newemail@example.com'
WHERE CustomerID = 1;

-- DELETE statement to remove a customer
DELETE FROM Customers
WHERE CustomerID = 1;
```

In this example, we have a table named "Customers" with columns for CustomerID, Name, and Email.

1. INSERT: The INSERT statement is used to add new rows or records into a table. It specifies the table name and the values to be inserted into the corresponding columns. In the example above, we insert a new customer with CustomerID 1, Name "John Doe," and Email "johndoe@example.com" into the "Customers" table.

2. UPDATE: The UPDATE statement is used to modify existing records in a table. It specifies the table name, the column to be updated, and the new value. The WHERE clause is used to specify the condition for which rows to update. In the example above, we update the Email of the customer with CustomerID 1 to "newemail@example.com."

3. DELETE: The DELETE statement is used to remove one or more rows from a table. It specifies the table name and uses the WHERE clause to specify the condition for which rows to delete. In the example above, we delete the customer with CustomerID 1 from the "Customers" table.

These DML statements provide the necessary tools for manipulating and modifying data within a database. They allow you to insert new records, update existing ones, and delete unwanted data, enabling effective data management and maintenance.

# Question.4

## What is DQL? Explain SELECT with an example.

### Ans:  In the context of your question, DQL typically stands for "Data Definition Language" rather than "Data Query Language." Allow me to provide a comprehensive explanation of the SELECT statement and its usage in SQL.

The SELECT statement is a fundamental component of SQL used to retrieve data from one or more tables in a database. It allows you to specify the columns you want to retrieve and the table or tables from which you want to fetch the data. Here's a breakdown of the SELECT statement and an example to illustrate its usage:

Syntax of the SELECT statement:

```sql
SELECT column1, column2, ...
FROM table
WHERE condition;
```

Explanation of the components:

1. SELECT: This keyword is used to specify the columns you want to retrieve from the table. You can mention individual column names or use the asterisk (*) to select all columns. For example, `SELECT column1, column2` specifies that you want to retrieve data from `column1` and `column2`.

2. FROM: This keyword is used to specify the table or tables from which you want to retrieve the data. You mention the name of the table after the FROM keyword. For example, `FROM table` specifies the table from which you want to retrieve the data.

3. WHERE: This optional keyword is used to filter the retrieved data based on specified conditions. It allows you to specify criteria to narrow down the result set. For example, `WHERE condition` filters the data based on the specified condition.

Now, let's see an example to understand how the SELECT statement works:

Consider a table named "Employees" with the following columns: EmployeeID, Name, Department, and Salary. Here's an example SELECT statement:

```sql
SELECT Name, Salary
FROM Employees
WHERE Department = 'Sales';
```

# Question.5

## Explain Primary Key and Foreign Key.

### Ans:
Primary Key:
1. Primary key is a column or a combination of columns in a database table that uniquely identifies each record or row in that table.
2. It ensures the uniqueness and integrity of the data in the table, as it must have a unique value for each record.
3. There can be only one primary key defined for a table.
4. The primary key constraint helps enforce data integrity by preventing duplicate or null values in the primary key column(s).
5. Examples of primary keys include an "ID" column in an "Employees" table or a combination of "StudentID" and "CourseID" columns in a "StudentCourses" table.
Foreign Key:
1. A foreign key is a column or a set of columns in a database table that refers to the primary key of another table.
2. It establishes a relationship between two tables and ensures referential integrity.
3. The foreign key in one table refers to the primary key in another table, creating a link between the two tables.
4. It helps maintain consistency and enforce relationships between tables in a database.
5. For example, if an "Orders" table has a foreign key column "CustomerID," it can refer to the primary key column "CustomerID" in the "Customers" table, linking the two tables based on the customer's ID.

# Question.6

## Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
#Ans:
#pip install mysql-connector-python
import mysql.connector
cnx = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)
cursor = cnx.cursor()
query = "SELECT * FROM employees"
cursor.execute(query)
results = cursor.fetchall()
cursor.close()
cnx.close()

### Explanation of the cursor() and excute() method:

The cursor() method creates a cursor object that allows you to execute SQL statements and retrieve results from the database.
The cursor object acts as a handle or pointer to the result set of a query.
Explanation of the execute() method:

The execute() method is used to execute SQL statements or queries through the cursor object.
It takes an SQL statement as a parameter and executes it in the connected database.
The method can also take parameters as placeholders in the SQL statement, allowing you to pass dynamic values to the query.
The execute() method does not return any results directly but prepares the cursor to fetch the result set.

# Question.7

## Give the order of execution of SQL clauses in an SQL query.

### Ans:v