# Question.1

## Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
#Answer
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Question.2

## Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
#Answer
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Question.3

## Create a Pandas DataFrame that contains the following data:
Name
Alice
Bob
Claire
Age
25
30
27

Gender
Female
Male
Female
Then, print the DataFrame.

In [3]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Question.4

## What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

## In pandas, a DataFrame is a two-dimensional labeled data structure that represents tabular data. It consists of rows and columns, similar to a table in a relational database or a spreadsheet. A DataFrame can store data of different types (e.g., numbers, strings, booleans) and provides powerful functionalities for data manipulation and analysis.
On the other hand, a Series is a one-dimensional labeled array in pandas. It is similar to a column in a DataFrame or a single column from a spreadsheet. A Series can hold data of a single data type, such as integers, floats, strings, or booleans. It is indexed, allowing for efficient data access and alignment.
Here's an example to illustrate the difference between a DataFrame and a Series:
```python
import pandas as pd
# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print("DataFrame:")
print(df)
print()

# Creating a Series
ages = pd.Series([25, 30, 27], name='Age')
print("Series:")
print(ages)
```

Output:
```
DataFrame:
    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male
2  Claire   27  Female

Series:
0    25
1    30
2    27
Name: Age, dtype: int64
```

# Question.5

## What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

## Pandas provides a wide range of functions to manipulate and transform data in a DataFrame. Here are some commonly used functions:
1. `head()` and `tail()`: These functions allow you to view the first or last few rows of a DataFrame, respectively. They are useful for quickly inspecting the data. For example, you might use `df.head()` to get a glimpse of the first few records in a large dataset.
2. `info()`: This function provides a summary of the DataFrame, including the column names, data types, and non-null counts. It is helpful for understanding the structure of the data. For instance, you might use `df.info()` to check if any columns have missing values.
3. `describe()`: This function generates descriptive statistics of the numeric columns in the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartile values. It gives you a statistical summary of the data. For example, you might use `df.describe()` to get an overview of the central tendencies and spread of the numerical data.
4. `sort_values()`: This function allows you to sort the DataFrame by one or more columns. You can specify the column(s) by which to sort and the order (ascending or descending). It is useful for arranging the data in a specific order. For instance, you might use `df.sort_values('Age', ascending=False)` to sort the DataFrame by the 'Age' column in descending order.
5. `groupby()`: This function is used to group the data based on one or more columns. It enables you to perform aggregate operations on subsets of the data. You can then apply functions like `sum()`, `mean()`, `count()`, etc., to calculate summary statistics within each group. For example, you might use `df.groupby('Gender')['Age'].mean()` to calculate the average age for each gender in the DataFrame.
6. `fillna()`: This function allows you to fill missing values in the DataFrame with a specified value or a method such as forward fill (`ffill()`) or backward fill (`bfill()`). It helps in handling missing data. For instance, you might use `df.fillna(0)` to replace all missing values in the DataFrame with zeros.

# Question.6

## Which of the following is mutable in nature Series, DataFrame, Panel?

## Among the options provided, both Series and DataFrame are mutable in nature in Pandas. On the other hand, Panel is not mutable.
In Pandas, a mutable object can be modified after its creation. This means that you can change or update its values, add or remove elements, and perform various operations that alter its content.
Series and DataFrame in Pandas are mutable because you can modify their values, add or remove columns/rows, and apply operations that change the data within them. For example, you can update specific values in a Series or DataFrame, add new columns or rows, and perform operations like merging, grouping, or filtering that modify the structure or content of the data.
On the other hand, Panel is not mutable in Pandas. Panel is a three-dimensional data structure that was available in earlier versions of Pandas. However, starting from Pandas version 0.20.0, Panel has been deprecated, and the recommended practice is to use MultiIndex DataFrame or other data structures for similar use cases. Therefore, since Panel is not part of the current Pandas design and is not recommended for use, it is not mutable.

# Question.7

## Create a DataFrame using multiple Series. Explain with an example.

### To create a DataFrame using multiple Series, you can pass a dictionary of Series objects to the `pd.DataFrame()` function. Each Series will be treated as a column in the DataFrame, and the keys of the dictionary will become the column names. Here's an example to illustrate this:
```python
import pandas as pd
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])
data = {
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
}
df = pd.DataFrame(data)
print(df)
```
Output:
```
    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male
2  Claire   27  Female
```
In this example, we create three separate Series objects: `name_series`, `age_series`, and `gender_series`. Each Series represents a column of data, namely 'Name', 'Age', and 'Gender'.